<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>ByteHelix (BHX) is the first experimental hybrid token based on the ERC-1175 protocol, 
          integrating features from both ERC-20 and ERC-1155. 
          It implements unique native liquidity and fractionalization mechanisms.
        </p>
      </div>
      <div class="col-lg-4">
        <p>In the context of transferring 1,000 tokens, 
          ERC404 requires minting and burning 1,000 NFTs, 
          whereas ERC1175 achieves a significant reduction in on-chain costs by 
          only transferring a single NFT with the thousandth bit set. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://app.uniswap.org/tokens/arbitrum/0x5cc0b820a77d58047d6097e750e490ecbf004cad" class="btn btn-lg btn-outline">
          <i class="fa"></i> Buy BHX
        </a>
      </div>
    </div>
  </div>
</section>
